Source: libparams-validate-perl
Section: perl
Priority: optional
Build-Depends: perl, debhelper (>= 7.0.50), libtest-taint-perl (>= 0.02),
 perl (>= 5.10) | libmodule-build-perl, libtest-pod-coverage-perl,
 libreadonly-xs-perl, libreadonly-perl, libtest-pod-perl,
 libtest-kwalitee-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Jay Bonci <jaybonci@debian.org>, Jonathan Yu <jawnsy@cpan.org>,
 gregor herrmann <gregoa@debian.org>,
 Krzysztof Krzyżaniak (eloy) <eloy@debian.org>, Damyan Ivanov <dmn@debian.org>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Params-Validate/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libparams-validate-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libparams-validate-perl/

Package: libparams-validate-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Perl module to validate parameters to Perl method/function calls
 Params::Validate is a Perl module providing a flexible way to validate method
 and function call parameters. The validation can be as simple as checking for
 the presence of required parameters, or more complex, like validating object
 classes (via isa) or capabilities (via can) and checking parameter types. It
 also provides extensibility through customized validation callbacks.
 .
 The module has been designed to work equally well with positional or named
 parameters (via a hash or hash reference) and includes experimental support
 for attributes (see Attribute::Params::Validate for details).
